/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2016, 9:25:50 AM
    Author     : apprentice
*/

body {
    color: #26201E;
}
.cont-background {    
    border: 1px solid #26201E;
    background-color: #FE3C00;
    padding: 3px 0 3px 5px;
}
.header {
    width: 100%;
    text-align: center;
    color: #FE3C00;
    background-color: #26201E;
    border: 1px solid #A7A9AC;
    font-weight: bold;               
}
.navbar-background {
    background-color: #A7A9AC;
}
.row-background {
    background-color: whitesmoke; 
    border: 1px solid #26201E; 
    padding: 2px;
}
.pageContent {
    width: 100%;                    
    background-color: whitesmoke;
    border: 1px solid #26201E;                
    padding-bottom: 10px;
}
.footer {
    width: 99%;
    text-align: center;
    color: #FE3C00;
    background-color: #26201E;
    border: 1px solid #A7A9AC;
    margin-top: 5px;
    float: left;
}
th {
    background-color: #FE3C00;
    font-weight: bold;                
}
.warning {
    color: red;
    font-weight: bold;
    font-style: italic;
}
.inputError {
    border: 1px solid red;
}

