/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 2, 2016, 3:53:48 PM
    Author     : apprentice
*/

iv.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom:0; right: 0;
  background-color: black;
  border-radius: 25px;
  border: 2px solid white;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 40%;
  min-width: 200px;
  max-width: 400px;
  /*padding: 40px;*/
}

body {
     background-image: url("fons1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-color: #cccccc;*/
}

.form-group {
    
}