/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2016, 9:25:50 AM
    Author     : apprentice
*/

.cont-background {    
    border: 1px solid #002D62;
    background-color: #860038;
    padding: 3px 0 3px 5px;
}
.header {
    width: 100%;
    text-align: center;
    color: #FDBB30;
    background-color: #002D62;
    border: 1px solid #FDBB30;
    font-weight: bold;               
}
.navbar-background {
    background-color: #FDBB30;
    border: 1px solid #002D62;
}
.row-background {
    background-color: whitesmoke; 
    border: 1px solid #FDBB30; 
    padding: 2px;
}
.pageContent {
    width: 100%;                    
    background-color: whitesmoke;
    border: 1px solid #002D62;                
    padding-bottom: 10px;
}
.footer {
    width: 99%;
    text-align: center;
    color: #860038;
    background-color: #FDBB30;
    border: 1px solid #002D62;
    margin-top: 5px;
    float: left;
}
th {
    background-color: #FDBB30;
    font-weight: bold;                
}
.warning {
    color: red;
    font-weight: bold;
    font-style: italic;
}
.inputError {
    border: 1px solid red;
    background-color: #F2F1BD;
}
.input-readOnly {
    background-color: inherit;
    border: 0px solid black;
    font-weight: bold;        
}

