/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2016, 9:25:50 AM
    Author     : apprentice
*/

body {
    color: #000000;
}
.cont-background {    
    border: 1px solid #666666;
    background-color: #BB0000;
    padding: 3px 0 3px 5px;
}
.header {
    width: 100%;
    text-align: center;
    color: #000000;
    background-color: #666666;
    border: 1px solid #000000;
    font-weight: bold;               
}
.navbar-background {
    background-color: #666666;
    border: 1px solid #000000;
}
.row-background {
    background-color: #BB0000; 
    border: 1px solid #000000; 
    padding: 2px;
}
.pageContent {
    width: 100%;                    
    background-color: whitesmoke;
    border: 1px solid #BB0000;                
    padding-bottom: 10px;
}
.footer {
    width: 99%;
    text-align: center;
    color: #000000;
    background-color: #666666;
    border: 1px solid #000000;
    margin-top: 5px;
    float: left;
}
th {
    background-color: #666666;
    color: #000000;
    font-weight: bold;                
}
.warning {
    color: red;
    font-weight: bold;
    font-style: italic;
}

